<!-- ../views/homepage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Explorer</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <h1>Movies Explorer: Favorites & Trailers</h1>

    <div class="search">
        <form method="GET" action="/search">
            <div class="input-movieName">
                <input type="search" id="Movie" name="q" placeholder="Quick Search" autocomplete="off" >
            </div>
        </form>
    </div>

    <br>

    <% moviesDetails.forEach(data => { %>
        <a href="/movies/<%= data.Title %>">
        <img src="<%= data.Poster %>">
        <h3><%= data.Title %></h3> 
        </a>
    <% }); %>
</body>
</html>