<link rel="stylesheet" href="search.css">

  <div class="search">
      <form method="GET" action="/movies">
        <div class="input-movieName">
          <input type="search" id="Movie" name="q" placeholder="Quick Search" autocomplete="off" >
        </div>
      </form>
  </div>
