body{
    margin: 0;
    padding: 0;
    /* background-color:rgba(228,228,228,0.7); */
    background-color: rgba(rgb(68, 255, 0), green, rgb(50, 50, 238));
}


a{
    text-decoration: none;
    color: inherit;
}


.header-container{
    background-color: #efef;
    position: relative;
}

/* Makes the images dart */
.header-container::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6); /* adjust alpha for darkness */
    pointer-events: none; /* lets clicks pass through */
}

.header-img{
     display: grid;
    grid-template-columns: repeat(5, 1fr); /* each column = 150px wide */
    justify-content: center; /* center grid if screen is wider */
}

.header-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text{
    position: absolute;
    max-width: 600px;
    top:40%;
    left: 10%; 
    color: #efef;
}

.header-text a{
    border-bottom: 2px solid white;
    padding: 0;
    font-size: 1.2rem;
}

.head{
    font-size: 3rem;
}

.head-description{
    font-size: 1.5rem;
}

/* Movies list */

.movie-container{
    margin: 2rem;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.movie-list{
    width: 200px;
    display: flex;
    justify-content: center;
}

.movie-list img{
    aspect-ratio: 4 / 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




@media (max-width: 1500px) {

    .header-img{
    grid-auto-rows: 600px;
    }
}


@media (max-width: 440px) {

    .header-img{
        grid-auto-rows: 600px; /
    }

    .head{
        font-size: 1.8rem;
    }

    .head-description{
        font-size: 1.2rem;
    }
}